<div class="container-fluid p-0">
  <app-create-note (noteDetail)="noteDatafn($event)" (closeEvent)="closeEvent($event)" [ShowNote]="isShowNote" [setNoteData]="noteData"></app-create-note>
  <header>
    <nav class="navbar navbar-light bg-primary p-1">
      <a class="navbar-brand">Swift Notes App</a>
      <div class="d-flex">
        <button class="btn btn-sm btn-light mr-2" (click)="isShowNote = true"><i class="bi bi-plus-lg"></i> Create Note</button>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" (search)="clear()" (keyup)="onSearch($event)">
        </form>
      </div>
    </nav>
  </header>
  <div class="body-content p-3">
    <div class="row" *ngIf="notesList.length > 0">
      <div class="col-md-3" *ngFor="let data of notesList">
        <div class="card mb-3">
          <div class="card-header">
            <span class="d-flex">
              <span class="swift-title">{{data.title}}</span>
              <button class="btn btn-sm" (click)="onEdit(data)"><i class="bi bi-pencil"></i></button>
              <button class="btn btn-sm" (click)="onDelete(data)"><i class="bi bi-trash3"></i></button>
               
            </span>
          </div>
          <div class="card-body">{{data.content}}</div>
        </div>
      </div>
    </div>
    <div class="no-record-container" *ngIf="notesList.length == 0">
      <div class="no-record">No Record Found</div>
    </div>
  </div>
</div>
